[{boss, [
    {applications, [{{appid}}]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
    	
    %% gzip compression for static file
    %% use case: compress your static javascript lib, css, html an more
    %% gain 50 to 75% file size
    %% 
    %% to compress desired file, you can use this kind of command
    %% $>cd priv
    %% $>for i in $(find  static/ -name "*.css$" -type f); do  echo -n $i;  gzip -c $i > $i.gz; echo ' -> ' $i.gz; done
    %% $>for i in $(find  static/ -name "*.js$" -type f); do  echo -n $i;  gzip -c $i > $i.gz; echo ' -> ' $i.gz; done
    %% $>for i in $(find  static/ -name "*.html$" -type f); do  echo -n $i;  gzip -c $i > $i.gz; echo ' -> ' $i.gz; done
    %% 
 
    {static_compression, {true, [".js" ,".css" ,".txt" ,".html" ,".xml"]}},

]},
{ {{appid}}, [
    {base_url, "/"}
]}
].
